$scrollbar: rgba(230, 230, 235, 0.884);
$scrollbar-background: rgba(107, 104, 104, 0);
$primaryFontColor: white;
$primaryFontFamily: Arial, Helvetica, sans-serif;
$primaryBackground: rgba(143, 134, 134, 0.658);


* {
    font-family: $primaryFontFamily;
    color: $primaryFontColor;
}

body {
    background-image: url("../assets/Mewtwo.jpg");
    background-size: cover;
    }

.home {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    text-align: center;
    margin-bottom: 1.5em;
}

.loginContainer {
    margin: auto;
    width: 50%;
    text-align: center;
}

.nav {
border: 3px solid black;
height:30%;
width: 30%;
}

.navText {
position:relative;
font-size: 1.5em;
margin: 1%;
}

.timeline {
    position:fixed;
    border: 3px solid black;
    // resize:both;
    height: 70%;
    width: 55%;
}

.deadline {
    position:fixed;
    background-color:rgba(0, 0, 0, 0.445);
    width: 15%;
    height: 65%;
    bottom: 17%;
}

.tasklist {
    position:fixed;
    background-color:rgba(0, 0, 0, 0.445);
    width: 26%;
    height: 65%;
    left:54%;
    bottom:17%;
    overflow-y: scroll;
}

.time {
    position:fixed;
    background-color:rgba(0, 0, 0, 0.445);
    width: 13.25%;
    height: 65%;
    left:40.5%;
    bottom:17%;
    overflow-y: scroll;
}

.timelineContainer {
    position:fixed;
    margin-top: 3em;
    left:25%;
    top:10%;
    
    ::-webkit-scrollbar {
        width: 10px;               /* width of the entire scrollbar */
    }
    ::-webkit-scrollbar-track {
        background: $scrollbar-background;        /* color of the tracking area */
      }
      ::-webkit-scrollbar-thumb {
        background-color: $scrollbar;    /* color of the scroll thumb */
        border-radius: 20px;       /* roundness of the scroll thumb */
        border: 3px solid $scrollbar;  /* creates padding around scroll thumb */
      }
}

.addTaskButton {
position:fixed;
width:6em;
height:2em;
left: 75%;
top: 15.25%;
color: $primaryFontColor;
background-color:$primaryBackground;

&:hover {
    cursor:pointer;
    color:black;
}

}

.projectTitle {
    margin: 10%;
    font-weight: bold;
    font-size: 1.5em
}

.taskTitle {
    margin: 5%;
    font-weight: bold;
    font-size: 1.5em
}
